# 1) Игнорим всё в корне
/*

# 2) Но не игнорим мета-файлы
!/.gitignore
!/README.md
!/LICENSE
!/requirements.txt
!/.env

# 3) Распаковываем папку src_git и всё, что в ней
!/src_git/
!/src_git/**

# 4) Игнорируем виртуальное окружение
/venv/
# 5) Игнорируем файлы и папки, которые могут быть созданы IDE
/.idea/
/.vscode/
/.DS_Store
/.vscode-test/
# 6) Игнорируем временные файлы и логи
*.log
*.tmp
*.bak
*.swp
# 7) Игнорируем системные файлы
Thumbs.db
ehthumbs.db
.DS_Store
# 8) Игнорируем файлы, которые могут быть созданы при сборке            